@model Samples.Mvc5.Models.AssignRoleViewModel
@{
    ViewBag.Title = "Assign Role";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("_AssignRolePartial")
    </div>
    <div class="col-md-6">
        @Html.Partial("_CurrentRolesPartial", Model.CurrentRoles)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
